@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header{
 
  background-color: #363636;
  color:#eceded;
 

}
header>div{
  display: flex;
  justify-content: space-between;
}
/* header>div>h1{
  /* display: inline-block; */
  /* float:left; */

.navbar li{
  display: inline-block;
  padding:30px;
  text-decoration: none;
}
.navbar>li>a{
  text-decoration: none;
  text-transform: uppercase;
  color:#eceded;
}

.navbar>li>a:hover
{
  color: #66a333;
}
.brand-name>a{
  font-size: 2.5rem;
  color: white;
margin-top: 15px;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* .hero-banner{
  background: url('../../img/intro-bg.jpg');
  display: flex;
  width: 80%;
  height: 600px;
  background-size: cover;
  position: relative;
  justify-content:center;
  align-items:center;
} */

.outer-hero-banner{
  height: 80vh;
  background-image:linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.1)), url('../../img/intro-bg.jpg');
  background-size: cover;
  display: flex;
  /* max-width: 1360px; */
  /* width: 86%; */
  /* margin: 0 auto; */
  position: relative;
  justify-content:center;
  align-items:center;
}
.inner-hero-banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .hero-banner>h2{
  position: absolute;
  margin:0 auto;
} */
/* .brand-service{
  width: 100%;
  text-align: center;
  font-size: 4rem;
  color:white;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
} */
/* .brand-service+p{
  position: absolute;
  top:50%;
} */


.inner-hero-banner>a{
  display: block;
  width: 10rem;
  padding:20px 30px;
  color:white;
  font-weight: bold;
  font-size: 1.2rem;
   text-align: center;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #69ad31;
  margin-top: 20px;
  /* border-top: .01px solid white;
  border-bottom: .01px solid white; */
  border-radius: 10px;
}
.inner-hero-banner>a:hover{
  background-color: black;
  transform: scale(1.2);
}
.inner-hero-banner>h2{
  font-size: 4rem;
  color:white;
  text-transform: uppercase;
  font-weight: bolder;
}

.inner-hero-banner>p{
  color: white;
  margin-top:20px;
  margin-bottom: 40px;
  font-size: 1.4rem;
  text-align: center;
  width: 50%;
  line-height: 1.6;
}

.welcome-section{
  position: relative;
  /* width: 100%; */
  height: 60vh;
  background-color: #f6f6f6;
}
.welcome-section>div{
  display: flex;

}
.welcome-inner-left
{
  margin: 100px 50px 200px 150px;
}
.welcome-inner-right{
  margin:100px 150px 200px 50px;
}
.welcome-inner-left>h3{
  /* margin:10px 50px 50px 100px; */
  font-size: 2rem;
  padding-bottom:5px;
  

}
.welcome-inner-left>h3>span{
  color: #69ad31;
  font-weight: bold;
}
.welcome-inner-left>hr{
  border-top:solid #69ad31;
  width: 50px;
transform: translateX(-150px);
}
.welcome-inner-left>p{
  margin-top:20px;
  line-height: 1.6;
  color: #8b8b8b;
}
.welcome-inner-left>a{
  display: block;
  width: 180px;
  padding:15px 25px;
  color:white;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #69ad31;
  margin-top: 20px;
  
}
.welcome-inner-left>a:hover{
  background-color: black;
  transform: scale(1.2);
}
.welcome-inner-right>ul{
display: flex;
/* width: 50%; */
}
.welcome-inner-right>ul>li:first-child{
  margin-right: 50px;
}
.welcome-inner-right figcaption{
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}
.welcome-inner-right p{
  line-height: 1.6;
  color: #8b8b8b;
}
.our-services-section{
background-color: #69ad31;
}
  .our-services-section>div{
  display: flex;
   flex-direction: column;
   padding-top: 100px;
   padding-bottom: 100px;
    /* justify-content: space-between; */
  }

  .our-services-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .our-services-top>h3{
    font-size: 2rem;
    padding-bottom:5px;
    color: white;
  }

  .our-services-top>hr{
    color:white;
    border:10px 0 0 0;
    width: 50px;
  }
  .our-services-top>p{
    color:#c6e8b8;
    font-size: 1.2rem;
  }
.our-services{
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}
.our-services>li{
  flex-basis: 20%;

}
.our-services-img{
  border-radius: 50%;
  border:10px solid #78b546 ;
}
.our-services-img+figcaption{
  color:white;
  padding-top: 25px;
  padding-bottom: 20px;
  font-size: 1.6rem;
  text-align: center;
}
.our-services>li>p{
  color:#c6e8b8;
  text-align:center;
  line-height: 1.6;

}

    .project-gallery-section{
      background-color:  #f6f6f6;
      position: relative;
    }
    .project-gallery-section>div{
      display: flex;
      flex-direction: column;
      padding-top: 100px;
      padding-bottom: 100px;
    }

.project-gallery-top{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
  .project-gallery-top>h3{
    font-size: 2rem;
    padding-bottom:5px;
    text-align: center;
  }
  .project-gallery-top>hr{
    border-top:solid #69ad31;
    width: 50px;
  }

  .project-gallery-top>p{
    color:#a9a8a9;
    text-align: center;
    padding-top: 20px;
  }
  .gallery-filters{
    display: flex;
    width: 40%;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .gallery-filters li{
    display: inline-block;
    background-color: #a9a8a9;
    padding:10px 20px;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  .gallery-filters li:first-child{
    background-color: #69ad31;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  .gallery-filters li:hover{
    background-color: #69ad31;
    color: white;
    border-radius: 5px;
  }
  .gallery-img:hover{
    transform: scale(1.5);
  }
  .project-gallery>li{
    width: 30%;
    padding:1%;
  }
  .testimonials-section{
    display: flex;
    height: 50vh;
    background: linear-gradient(rgba(106,166,50, 0.8), rgba(106,166,50, 0.8)), url('../../img/testimonials-bg.jpg');
    justify-content: center;
    align-items: center;    
  }
  .testimonials-inner{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  }
  .testimonials-inner>h3{
    font-size: 2rem;
    padding-bottom: 5px;
    color: white;
  }
  .testimonials-inner>hr{
    border-top: solid white;
    width: 50px;
  }
  .testimonials-inner>hr:last-child{
    border:none;
    border-top: 10px dotted white;
    width: 50px;
  }

  .testimonials-inner>p{
    color: white;
    line-height: 25px;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
  }
  .contact-us-section{
    background-color: #f6f6f6;
  }
  .contact-us-section>div{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    
  }

.contact-us-top>h3{
    /* margin:10px 50px 50px 100px; */
    font-size: 2rem;
    padding-bottom:5px;    
    text-align: center;
  }
  .contact-us-top>hr{
    border-top:solid #69ad31;
    width: 50px;
  }
  .contact-us-top>p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #8b8b8b;
    line-height: 1.6;
    font-size: 1.2rem;
  }
  .contact-us-bottom>ul{
    display: flex;
    margin-bottom: 100px;
  justify-content: space-between;
  }

  .contact-us-bottom>ul li{
    display: inline-block;
    padding:10px 20px;

  }

  .contact-data>a{
    text-decoration: none;
   color:#8b8b8b;
  }
  .contact-details>li>address,.contact-us-bottom>ul li>p{
    text-align: center;
   color:#8b8b8b;
   line-height: 1.6;
  }

  .contact-us-bottom>ul li>p:first-child{
    font-weight: bold;
    text-transform: uppercase;
  }
.contact-details li>hr{
  border-top:solid #e2e2e2;
  width: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}
  .contact-details li:last-child a{
    text-decoration: none;
  }
  .contact-us-section>div>div:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }
  .contact-form-outer{
    display: block;
    width: 60vw;
  }
  .contact-form-top>input{
    width:45%;
    display: inline-block;
  }
  .contact-form-top{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .contact-form-bottom{
    /* display: flex; */
    justify-content: center;
    flex-direction: column;
  }
  .contact-form-bottom>input{
display: inline-block;
background-color: #69ad31;
padding: 10px 20px;
width: 50%;
  }
  .leave-message{
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .dot {
    height: 15px;
    width: 15px;
    background-color: #abce86;
    border-radius: 50%;
    /* display: inline-block; */
  }
  .white-dot{
    background-color: white;
  }
  .current-testimonial{
    display: flex;
    margin-top: 10px;
  }
  .current-testimonial span{
    margin-left: 5px;
    margin-right: 5px;
  }

  .contact-details li>p:first-child{
    color:black;
  }
  /* optional */
  .testimonials-inner>ul{
    list-style-type: none;
    display: block;
    margin-top: 20px;
  }
  .testimonials-inner>ul li:first-child{
    background-color: white;
  }

    /*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
/* .footer-social
  /* display: block; */
 footer{
  background-color: #363636;
 }
footer>div{
  display: flex;
  width: 100%;
  height: 20vh;
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
}

/* footer>div>ul{
display: flex;
flex-direction: column;
}
footer>div>ul li{
  display: inline-block;
} */
.footer-social li{
  background-color: #464646;
  width: 1.2rem;
  padding: 10px;
  margin:0 10px;
  font-size: 1.2rem;
  border-radius: 50%;
  text-align: center;
}
.footer-social li>a{
  text-decoration: none;
  color:#66a333;
}
.footer-social li:hover{
  background-color: black;
  transform: scale(1.1);
}
footer>div>p{
  margin-top: 5vh;
  color: #535353;
}
footer>div>p>span{
  color: #747474;
}


 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

 

}  