@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  /* max-width: 1360px; */
  max-width: 1903px;
  /* width: 86%;  */
  width: 84.49%;
  margin: 0 auto;
}
.navbar .menu-bar{
  display: none;
}
/*=================================
  Header styling starts here
=================================*/
header{

  background-color: #363636;
  color:#eceded;
 

}
header>div{
  display: flex;
  justify-content: space-between;
}
/* header>div>h1{
  /* display: inline-block; */
  /* float:left; */
/* old navbar */
/* 
  .navbar{display: flex;}
.navbar li{
  padding:56px 0px;
  padding: 56px 0px 52px 0px;
  margin-left: 64px;
  flex-basis: 18.31%;
  display: inline-block;
  text-decoration: none;
}
*/
.navbar{
  padding: 56px 0px 50px 0px;
  flex-basis: 49.9%;
}
.navbar li{
  margin-left: 60px;
  /* flex-basis: 18.31%; */
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
}
.navbar li:first-of-type{
  margin-left: 0;
}
.navbar > li > a{
  text-decoration: none;
  text-transform: uppercase;
  color:#eceded;
  font-size: 20px;
}

.navbar>li>a:hover
{
  color: #66a333;
}

.brand-name > a{
  margin-top: 51px;
  font-size: 28px;
  color: white;
  text-indent: -9999px;
}
.brand-name>a>img{
  float: right;
width: 202px;
height: 36px;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* .hero-banner{
  background: url('../../img/intro-bg.jpg');
  display: flex;
  width: 80%;
  height: 600px;
  background-size: cover;
  position: relative;
  justify-content:center;
  align-items:center;
} */

.outer-hero-banner{
  /* height: 80vh; */
  background-image:linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.1)), url('../../img/intro-bg.jpg');
  background-size: cover;
  display: flex;
  /* max-width: 1360px; */
  /* width: 86%; */
  /* margin: 0 auto; */
  position: relative;
  justify-content:center;
  align-items:center;
}
.inner-hero-banner{
  /* padding-top: 469px; */
  padding-top: 455px;
  padding-bottom: 281px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* .hero-banner>h2{
  position: absolute;
  margin:0 auto;
} */
/* .brand-service{
  width: 100%;
  text-align: center;
  font-size: 4rem;
  color:white;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
} */
/* .brand-service+p{
  position: absolute;
  top:50%;
} */


.inner-hero-banner>a{
  /* width: 10rem; */
  /* margin-top: 20px; */
  padding: 24px 30px;
 
  /* display: block; */
  color:white;
  font-weight: bold;
  font-size: 22px;
   text-align: center;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #69ad31;
  
  /* border-top: .01px solid white;
  border-bottom: .01px solid white; */
}
.inner-hero-banner>a:hover{
  background-color: black;
  transform: scale(1.2);
}
.inner-hero-banner>h2{
  font-size: 90px;
  /* 67px as per tool */
  color:white;
  text-transform: uppercase;
  font-weight: bolder;
}

.inner-hero-banner>p{
  width: 50%;
  margin-top: 22px;
  margin-bottom: 63px;
 
  color: white;
  font-size: 27px;
  text-align: center;
  line-height: 1.6;
}

.welcome-section{

  position: relative;
  /* width: 100%; */
  background-color: #f6f6f6;
}
.welcome-section>div{
  /* padding: 170px 148px; */
  padding: 170px 0;
  display: flex;
  justify-content: space-between;
}
.welcome-inner-right,
.welcome-inner-left{
flex-basis: 48%;
}
.welcome-inner-left>h3{
  /* margin:10px 50px 50px 100px; */
  font-size: 51px;
  padding-bottom:5px;
  font-weight: bold;
  position: relative;
}
/* .welcome-inner-left>h3::after

  content:"";
  /* position: absolute; */
  /* top:30px; */
  /* bottom: 30px;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 1px solid black; */



.welcome-inner-left>h3>span{
  color: #69ad31;
  font-weight: bold;
}
.welcome-inner-left>hr{
display: none;
  /* width: 50px;
  border-top:solid #69ad31;
transform: translateX(-150px); */
}
.welcome-inner-left>p{
  margin-top: 83px;
  line-height: 1.6;
  font-size: 22px;
  /* font-size: 27px; */
  color: #8b8b8b;
}
.welcome-inner-left>p:nth-of-type(2) {
  margin-top: 22px;
}
.welcome-inner-left>a{
 
  padding:23px 31px;
  margin-top: 64px;
  /* margin-top: 80px; */
  /* display: block; */
  color:white;
  font-size: 23px;

  text-align: center;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #69ad31;
  
}
.welcome-inner-left>a:hover{
  background-color: black;
  transform: scale(1.2);
}
.welcome-inner-right>ul{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
/* width: 50%; */
}
.welcome-inner-right>ul>li{
flex-basis: 47.25%;
}
.welcome-inner-right h4{
  margin-top: 28px;
  /* padding-top: 20px; */
  margin-bottom: 27px;
  /* padding-bottom: 20px; */
  font-size: 31px;
  font-weight: bold;
}
.welcome-inner-right p{
  line-height: 1.6;
  font-size: 20px;
  color: #8b8b8b;
}
.our-services-section{
background-color: #69ad31;
}
  .our-services-section>div{
    padding-top: 100px;
    padding-bottom: 222px;
  display: flex;
   flex-direction: column;
    /* justify-content: space-between; */
  }

  .our-services-top{
    margin-top: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .our-services-top>h3{
    font-size: 53px;
    font-weight: bold;
    padding-bottom:5px;
    color: white;
    position: relative;
  }
  .our-services-top>h3::after {
    content: "";
    display: block;
    height: 0;
    width: 100px;
    position: absolute;
    top: 84px;
    border-top: 4px solid white;
    left: 111px;
}

  .our-services-top>hr{
    width: 50px;
    border-top:10px;
    color:white;
    display: none;
  }
  .our-services-top>p{
    margin-top: 54px;
    color:#c6e8b8;
    font-size: 27px;
  }
  .our-services-bottom{
    margin-left: 27px;
    margin-right: 27px;
    margin-top: 128px;
  }
.our-services{
  display: flex;
  justify-content: space-between;
  /* padding-top: 100px; */
}
.our-services>li{
  flex-basis: 20.62%;
 
}
.our-services> li>figure{
  border-radius: 50%;
      border: 10px solid #78b546;
  }
  
.our-services-img{
  border-radius: 50%;
  /* border:10px solid #78b546 ; */
}
.our-services > li >h4{
  color:white;
  margin-top: 35px;
  margin-bottom: 17px;
  font-size: 33px;
  text-align: center;
}
.our-services > li:last-of-type >h4{
letter-spacing: -2px;
}
.our-services>li>p{
  color:#c6e8b8;
  text-align:center;
  line-height: 1.6;
  font-size: 21px;
}

    .project-gallery-section{
      background-color:  #f6f6f6;
      position: relative;
    }
    .project-gallery-section>div{
      display: flex;
      flex-direction: column;
      padding-top: 154px;
      padding-bottom: 165px;
    }

.project-gallery-top{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
  .project-gallery-top>h3{
   
    font-size: 50px;
    font-weight: bold;
    padding-bottom:5px;
    text-align: center;
    position: relative;
  }
  .project-gallery-top>h3::after {
    content: "";
    display: block;
    height: 0;
    width: 100px;
    position: absolute;
    top: 84px;
    left: 125px;
    border-top: 4px solid #66a333;
}
  .project-gallery-top>hr{
    border-top:solid #69ad31;
    width: 50px;
    display: none;
  }

  .project-gallery-top>p{
    margin-top: 56px;
    color:#a9a8a9;
    text-align: center;
    /* padding-top: 34px; */
    font-size: 25px;
    /* margin-top: 22px; */
  }
  .gallery-filters{
    display: flex;
    width: 46.65%;
    justify-content: space-between;
    margin-top: 90px;
    padding-bottom: 20px;
  }
  .gallery-filters li{
    display: inline-block;
    background-color: #a9a8a9;
    padding:18px 25px;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }

  .gallery-filters li>span{
font-size: 21px;

  }
  .gallery-filters li:first-child{
    background-color: #69ad31;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  .gallery-filters li:hover{
    transition: all 0.3s;
    background-color: #69ad31;
    color: white;
    border-radius: 5px;
  }
  .gallery-img:hover{
    transition: all 0.3s;
    transform: scale(1.5);
  }
  .project-gallery-bottom
  {
    margin-top: 62px;
  }
  .project-gallery{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin-top:81px; */
  }
  .project-gallery>li{
/* flex-basis: 31.55%; */
flex-basis: 32.55%;
  }
  .project-gallery>li:nth-child(-n+6){
  margin-bottom:43px;
  }

  .testimonials-section{
    display: flex;
    /* height: 50vh; */
    background: linear-gradient(rgba(106,166,50, 0.8), rgba(106,166,50, 0.8)), url('../../img/testimonials-bg.jpg');
    justify-content: center;
    align-items: center;    
  }
  .testimonials-inner{
    margin-top: 173px;
    margin-bottom: 181px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  }
  .testimonials-inner>h3{
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 5px;
    color: white;
    position: relative;
  }

  .testimonials-inner>h3::after{
    content: "";
    display: block;
    height: 0;
    width: 96px;
    position: absolute;
    top: 79px;
    left:96px;
    border-top: 4px solid white;
      }
    
  .testimonials-inner>hr{
    border-top: solid white;
    width: 50px;
    display: none;
  }
  .testimonials-inner>hr:last-child{
    border:none;
    border-top: 10px dotted white;
    width: 50px;
  }

  /* .testimonials-inner>p, */
  .testimonials-added>p{
    color: white;
    line-height: 25px;
    text-align: center;
    /* margin-top: 20px; */
    font-size: 24px;
    margin-left: 10.62%;
    margin-right: 10.62%;
  }
  .testimonials-added>p:nth-of-type(2){
    margin-top: 36px;
    /* margin-top: 39px; */
  }
  .contact-us-section{
    background-color: #f6f6f6;
  }
  .contact-us-section>div{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    /* padding-top: 150px; */
    padding-bottom: 150px;
    
  }
.contact-us-top{
  margin-top: 140px;
}
.contact-us-top>h3{
    /* margin:10px 50px 50px 100px; */
    font-size: 49px;
    font-weight: bold;
    padding-bottom:5px;    
    text-align: center;
    position: relative;
  }
  .contact-us-top>h3::after{
    content: "";
    display: block;
    height: 0;
    width: 100px;
    position: absolute;
    top: 79px;
    left: 460px;
    border-top: 4px solid #69ad31;
}
  .contact-us-top>hr{
    border-top:solid #69ad31;
    width: 50px;
    display: none;
  }
  .contact-us-top>p{
    text-align: center;
    margin-top: 47px;
    margin-bottom: 110px;
    color: #8b8b8b;
    line-height: 1.6;
    font-size: 23px;
  }
  .contact-us-bottom{
    margin-bottom: 135px;
  }
  .contact-us-bottom>ul{
    display: flex;  
  justify-content: space-between;
  }

  .contact-us-bottom>ul li{
    display: inline-block;
    padding:10px 20px;
    margin-right: 148px;
  }
  .contact-us-bottom>ul li:last-of-type{
    margin-right: 0;
  }

  .contact-data>a{
    text-decoration: none;
   color:#8b8b8b;
  }
  .contact-details>li>address,.contact-us-bottom>ul li>p{
    text-align: center;
   color:#8b8b8b;
   line-height: 1.6;
   font-size: 20px;
  }

  .contact-us-bottom>ul li>p:first-child{
    font-weight: bold;
    text-transform: uppercase;
  }
.contact-details li>hr{
  border-top:solid #e2e2e2;
  width: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}
  .contact-details li:last-child a{
    text-decoration: none;
  }
  .contact-us-section>div>div:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contact-us-section>div>div{
    flex-basis: 100%;
  }
  .contact-form{
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }
  .contact-form>form,
  .contact-form-top,
  .contact-form-top>div,
  .contact-us-top>div>input,
  .contact-us-top>div>span{
    width: 86.27%;
    /* margin: 0 6.85%; */
  }
  
  .contact-form-outer{
    display: block;
    width: 60vw;
  }
  .contact-form-top>input{
    
    display: inline-block;
  }
  input[type="text"],
  input[type="email"]{
    width:100%;
    /* height: 58px; */
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 30px;
    font-size: 16px;
  }

  input[type="submit"]{
    padding: 25px 31px;
    font-size: 20px;
    background-color: #69ad31;
    color: white;
    border-radius: 5px;
    border:none;
  }
  textarea{
width: 100%;
    padding-top: 40px;
padding-left: 30px;
font-size: 16px;

  }
  .contact-form-top{
    display: flex;
    justify-content: space-between;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    margin: 0 6.85%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .contact-form-top>div{
    flex-basis: 46%;
  }
  .contact-form-bottom{
      /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
    width: 86.27%;
    margin: 0 6.85%;
  }
  .contact-form-bottom>input{
display: inline-block;
background-color: #69ad31;
padding: 10px 20px;
width: 50%;
  }
  .contact-form-bottom>div:nth-of-type(2){
    /* width: 64%; */
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  
  .leave-message{
    margin-bottom: 58px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;

  }
  
 
  .current-testimonial{
    display: flex;
    margin-top: 48px;
  }
  .current-testimonial span{
    margin-left: 5px;
    margin-right: 5px;
  }

  .contact-details li>p:first-child{
    color:black;
    font-size: 23px;
  }
  /* optional */
  
  .testimonials-inner>ul{
    list-style-type: none;
    display: block;

  }
  .testimonials-post{
    margin-top: 129px;
    /* margin-top: 111px; */
  }
  .testimonials-post li:not(:first-child){
    display: none;
  }
  .dot{
    height: 15px;
  width: 15px;
  background-color: #abce86;
  border-radius: 50%;
  display: inline-block;
  }
 
  .white-dot{
    background-color: white;
  }

  .welcome-inner-left>h3::after{
content: "";
display: block;
height: 0;
width: 100px;
position: absolute;
top: 84px;
border-top: 4px solid #66a333;
  }

  
    /*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
/* .footer-social
  /* display: block; */
 footer{
  background-color: #363636;
 }
footer>div{
  display: flex;
  width: 100%;
  
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
}
footer>div>ul{
  margin-top: 56px;
  margin-bottom: 78px;
}
/* footer>div>ul{
display: flex;
flex-direction: column;
}
footer>div>ul li{
  display: inline-block;
} */
.footer-social li{
  background-color: #464646;
 
  padding: 14px;
  margin:0 30px;
  font-size: 30px;
  border-radius: 50%;
  text-align: center;
}
.footer-social li:first-child{
  padding:14px 20px;
}
.footer-social li>a{
  text-decoration: none;
  color:#66a333;
}
.footer-social li:hover{
  background-color: black;
  transform: scale(1.1);
}
footer>div>p{
  margin-bottom: 49px;
  color: #535353;
}
footer>div>p>span{
  color: #747474;
}


 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (min-width:1200px) and (max-width:1600px){

.gallery-filters {
  display: flex;
  width: 70%;
  justify-content: space-between;
  padding-top: 93px;
  padding-bottom: 20px;
}
}
@media only screen and (min-width:995px) and (max-width:1024px){
  .brand-service{
    text-align: center;
  }
  .navbar li {
    margin-left: 32px;
  }
  /* .desk-view>a{
    display: none;
  }
  .navbar .menu-bar {
    display: block;
    cursor: pointer;
} */
  
}
/* @media only screen and (min-width:1025px) and (max-width:1200px) {
 */
@media only screen and (min-width:641px) and (max-width:995px) {

  .welcome-section>div {
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  .welcome-inner-right, .welcome-inner-left {
    flex-basis: 100%;
}
.welcome-inner-right{
margin-top: 100px;
}
.our-services {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
  padding-top: 100px;
}
.our-services>li {
  flex-basis: 41.24%;
}
.our-services>li:nth-of-type(3),.our-services>li:nth-of-type(4) {
margin-top: 100px;
}
.gallery-filters {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding-top: 93px;
  padding-bottom: 20px;
}

.project-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 81px;
}
.project-gallery > li:nth-child(-n+8) {
  margin-bottom: 43px;
}
.project-gallery > li {
  flex-basis: 47.325%;
}


}  


@media only screen and (min-width:320px) and (max-width:641px) {
  .wrapper {
     max-width: 640px;
     width: 84.49%;
    margin: 0 auto;
  }
  

  .welcome-section>div {
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  .welcome-inner-right, .welcome-inner-left {
    flex-basis: 100%;
}
.welcome-inner-right{
margin-top: 100px;
}
.our-services {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
  padding-top: 100px;
}
.our-services>li {
  flex-basis: 95%;
}
.our-services>li:nth-of-type(3),.our-services>li:nth-of-type(4) {
margin-top: 100px;
}
.gallery-filters {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding-top: 93px;
  padding-bottom: 20px;
}
.gallery-filters li{
  flex-basis: 35%;
}

.project-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 25px;
  margin-top: 81px;
}
.project-gallery > li:nth-child(-n+8) {
  margin-bottom: 43px;
}
.project-gallery > li {
  flex-basis: 94.65%;
}
/* .contact-us-bottom>ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-us-bottom>ul li {
  flex-basis: 94.65%;
  display: inline-block;
  padding: 10px 20px;
} */
.gallery-filters li{
  margin-bottom: 20px;
 
}

.inner-hero-banner>h2{
  /* font-size: 25px; */
  font-size: 72px;

}

.inner-hero-banner {
  padding-top: 100px;
  padding-bottom: 100px;
}

.brand-service{
  text-align: center;
}
.welcome-inner-left>h3 {
  text-align: center;
}
.welcome-inner-right>ul>li {
  flex-basis: 94.5%;
}
.our-services>li {
  margin-bottom: 20px;
}
footer>div>ul{
  margin-top: 30px;
  margin-bottom: 50px;
}
.footer-social li{
  background-color: #464646;
 
  padding: 14px;
  margin:0 10px;
  font-size: 30px;
  border-radius: 50%;
  text-align: center;
}
.navbar li{
  display: none;
}
.navbar .menu-bar{
display: block;
cursor: pointer;
}
.contact-us-bottom>ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact-form-top{
  flex-direction: column;
}
.contact-form-top>div {
  flex-basis: 95.72%;
}
.contact-form-top>div:nth-of-type(2) {
margin-top: 20px;
}

.contact-us-bottom>ul li {
  flex-basis: 90%;
      padding: 10px 20px;
  }
  .welcome-inner-right>ul>li:nth-of-type(2) {
  padding-top: 100px;
}
.welcome-inner-right>ul{
  flex-direction: column;
}

.navbar{display: flex;}
.navbar li{
  padding:56px 0px;
  /* margin-left: 34px; */
  flex-basis: 18.31%;
  /* display: inline-block; */
  justify-content: space-between;
  text-decoration: none;
}

}

@media only screen and (max-width:320px)  {
  .wrapper {
     max-width: 320px;
     width: 84.49%;
    margin: 0 auto;
  }
  .contact-us-bottom>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  .contact-us-bottom>ul li {
flex-basis: 90%;
    padding: 10px 20px;
}
.contact-form-top{
  flex-direction: column;
}
.contact-form-top>div {
  flex-basis: 95.72%;
}
.contact-form-top>div:nth-of-type(2) {
margin-top: 20px;
}
.contact-form-bottom>input{
  display: inline-block;
  background-color: #69ad31;
  padding: 10px 20px;
  width: 100%;
    }
    .welcome-inner-right>ul>li:nth-of-type(2) {
      padding-top: 100px;
    } 
    .inner-hero-banner>h2 {
      /* font-size: 25px; */
      font-size: 41px;
  }
  h3{
    font-size: 44px;
  }
  .gallery-filters li {
    flex-basis: 95%;
}
.project-gallery {
  padding-left: 0;
}
textarea{
  padding-left: 0;
}
input[type="text"], input[type="email"] {
  padding-left: 0;
}


}